/*sets a bunch of default values - the rest of the classes act as flags that customize behavior*/
.tabBar{
	cursor:pointer;
	padding:.5em .5em;
	display:inline-block;
	/*float:left;*/
	background:red;
	font-size:1.2em;
	border:0px;
}
.pressed{
	background:blue;
}
/*fixed in front removes the navbar from the dom tree and places it above other content*/
nav.fixedInFront{
	position:fixed;
	z-index:1;
	width: 100%;
}
nav.hzlCentered{
	text-align:center;
}
nav.bottom{
	bottom:0%;
}
nav.top{
	top:0%;
}
.importantLinks{
	padding-right: 1em;
	font-size: .75em;
	cursor:pointer;
	display:inline;
	background:none;
	border:0px;
}
.bodyContent{
	min-height: 1600px;
	min-width: 400px;
	display: block;
}
.collapsed{
	display:none;
}